{% extends "base.html" %}
{% load static %}

{% block title %}PEOTDU - BCS - Audiencias{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/audiencias.css' %}">
{% endblock %}

{% block content %}
    <div class="audiencias-container">
        <div class="gradient-line"></div>
        <div class="image-container">
            <img src="{% static 'images/AudienciasV2.png' %}" alt="Audiencias" class="audiencias-image">
        </div>
        <div class="gradient-line"></div>
    </div>
{% endblock %}